*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #C3D7FF;
}
.botones{
	background-color: #7EB2AF;
}

#map{

	height: 70vh;
	border: 10px solid #DDAA98;
}
.inp{
	margin: 40px auto;
	padding: 10px 15px;
}
button{
	width: 130px;
	margin: 55px auto;
	padding: 10px 15px;
	color: white;
	background-color: #faae27;
	border:0;
	font-weight: 700;
	border-radius: 2px;
	font-family: "raleway";
	font-size: 15px;
	display: block;
}

button:hover,button:focus{
	outline:0;
}

.segundo{
	margin-top: 30px;
	background-color: #C3D7FF;
}